<section class="find-eero">
    <div class="container">
        <h2 class="find-eero__title">Find your eero system</h2>
        <ul class="system">
            <li class="system__item">
                <ul class="numbers">
                    <li class="numbers__item">
                        <div class="numbers__square numbers__square--active">1</div>
                        <div class="numbers__line"></div>
                    </li>
                    <li class="numbers__item">
                        <div class="numbers__square">2</div>
                        <div class="numbers__line"></div>
                    </li><li class="numbers__item">
                        <div class="numbers__square">3</div>
                        <div class="numbers__line"></div>
                    </li><li class="numbers__item">
                        <div class="numbers__square">4</div>                        
                    </li>
                </ul>
            </li>
            <li><ul class="numbers">
                <li class="numbers__item">
                    <div class="numbers__square ">1</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square numbers__square--active">2</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">3</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">4</div>
                </li>
            </ul></li>
            <li><ul class="numbers">
                <li class="numbers__item">
                    <div class="numbers__square ">1</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">2</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square numbers__square--active">3</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">4</div>
                </li>
            </ul></li>
            <li><ul class="numbers">
                <li class="numbers__item">
                    <div class="numbers__square ">1</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">2</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square">3</div>
                    <div class="numbers__line"></div>
                </li>
                <li class="numbers__item">
                    <div class="numbers__square numbers__square--active">4</div>
                </li>
            </ul></li>
        </ul>
    </div>
</section>