<section>
  <div class="container">
    <ul class="slider">
      <li class="slider__item slider__item--slide-1">
        <ul class="icons">
          <li class="icons__item">
            <img class="icons__img" src="./images/lamp-active.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/timer.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/wifi.svg" alt="" />
          </li>
        </ul>
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="main-button slider__button" type="button">Learn More</button>
      </li>

      <li class="slider__item slider__item--slide-2">
        <ul class="icons">
          <li class="icons__item">
            <img class="icons__img" src="./images/lamp.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/timer-active.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/wifi.svg" alt="" />
          </li>
        </ul>
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="main-button slider__button" type="button">Learn More</button>
      </li>
      <li class="slider__item slider__item--slide-3">
        <ul class="icons">
          <li class="icons__item">
            <img class="icons__img" src="./images/lamp.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/timer.svg" alt="" />
          </li>
          <li class="icons__item">
            <img class="icons__img" src="./images/wifi-active.svg" alt="" />
          </li>
        </ul>
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="main-button slider__button" type="button">Learn More</button>
      </li>
    </ul>
  </div>
</section>
